/*******custom default bootstrap stiles ********/
/*navigation panel*/
.container-fluid {
    background-color: rgba(0,0,0,0.0);
}
.navbar.navbar-default {
    border: none;
    background-color: transparent;
}
/****custom default tags html***/

h3 {
    font-family: "Open Sans",sans-serif;
    font-size: 24pt;
    color: rgb(53,53,53);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}
.area {
    text-align: center;
    align-items: center;
}

hr {
    margin: 0;
    border: 1px solid rgb(53,53,53);
    width: 68px;
    display: inline-block;
}

/****************header***************/
.header {
    font-family: "Open Sans", sans-serif;
    color: rgb(255,255,255);
    background-image: url("/test/content/city.png");
}


/*logo*/
.name-logo {
    font-size: 19.2pt;
}
.details-logo {
    font-size: 12.8pt;
}
.logo {
    text-align: center;
}
.logo img {
    margin-bottom: 126px;
}
/*****/

/*rollover*/
.carousel-caption {
    margin-top: 200px;
}

/*text topic page*/
.text-topic {
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    text-align: center;
    color: rgb(134,134,134);
}


/*************content******************/
.content {
    margin-top: 60px;
}
/****************INDUSTRY**********************/
.industry {
    margin-top: 46px;
}
.industry-item {
vertical-align: middle;
}
.industry-item figure {
    text-align: center;
    border: 1px solid rgb(207,225,234);
    height: 193px;
    width: 172px;
    padding-top: 45px;
    color: rgb(53,53,53);
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    vertical-align: middle;
}
.industry-item figure figcaption {
    margin-top: 10px;
}
.industry-row {
    margin-bottom: 35px;
}
.line {
    text-align: center;
    align-items: center;
}
/*********ADVANTAGES***********/
.background-content {
    background-image: url("/test/content/man.png");
    background-repeat: no-repeat;
    background-position: left bottom;


}
.advantages-row {
    margin: 160px 0 130px 0;

}